<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>partsId</key>
		<string>1</string>
		<key>workItemType</key>
		<integer>1</integer>
		<key>carPriceArray</key>
		<array>
			<dict>
				<key>start_price</key>
				<integer>0</integer>
				<key>end_price</key>
				<integer>6</integer>
				<key>workHours</key>
				<string>64</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>6</integer>
				<key>end_price</key>
				<integer>10</integer>
				<key>workHours</key>
				<string>80</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>10</integer>
				<key>end_price</key>
				<integer>15</integer>
				<key>workHours</key>
				<string>96</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>15</integer>
				<key>end_price</key>
				<integer>25</integer>
				<key>workHours</key>
				<string>144</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>25</integer>
				<key>end_price</key>
				<integer>30</integer>
				<key>workHours</key>
				<string>192</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>30</integer>
				<key>end_price</key>
				<integer>40</integer>
				<key>workHours</key>
				<string>208</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>40</integer>
				<key>end_price</key>
				<integer>50</integer>
				<key>workHours</key>
				<string>224</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>50</integer>
				<key>end_price</key>
				<integer>60</integer>
				<key>workHours</key>
				<string>240</string>
			</dict>
			<dict>
				<key>start_price</key>
				<integer>60</integer>
				<key>end_price</key>
				<real>100000000</real>
				<key>workHours</key>
				<string>455</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
